
/* footer */

  .social-icons {
      list-style-type: none!important;
      height:55px;
      width:100%;
      padding-left: 5px!important;
      padding-right: 5px!important;
      padding-top:10px;
    }


.footer-align {

  margin: 50px 0px 0px 0px;

}

.footer-padder {

  padding: 20px 5px 20px 5px;

}

.top-footer {

  background:white!important;

}

.footerh3 {
  font-size: 12px;
  text-align:left;
  color: gray;

}

.footer-site-list {

  font-size: 12px;
  text-align:left;
   list-style: none;

}


.footer-text {
  font-size: 12px;

}

.footer
{
  color: black; 
  border-bottom:1px solid #6A6A65;
  .h3
  {
    font-family: 'ClassicRoundMedium';
    font-size: 0.em;
    text-align: center;
  }

  .footerLogo
  {
    text-align: left;
    color:#EE6557;
    margin-left:25px;
  }

    .gmaps
    {
      float:left;
      padding-top:10px;
      position:relative;

      &:iframe
      {
        width:200px;
        height:200px;
        margin-top:-40px;
        margin-left:-10px;
      }
      .mapaItem
      {
        overflow: hidden;
        height:150px;
      }

    }

  
}

.bottomFooter
{
  padding-top:10px;
  text-align: center;
  font-size: 80%;

}
