/*
 *= require store/spree_frontend 
*/

@import url('_footer.css');
@import url('_header.css');
@import url('_index.css');
@import url('bootstrap.min.css');

body
{
  background-image:url("http://i397.photobucket.com/albums/pp54/batesie-boy/bg.png") !important;
}

.container
{
  width:1000px;
  background-color:#EDEDED;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  
  font-weight: normal;
  color: #000;
}

.row{
	margin-left: 0px;
	margin-right: 0px;border-image-repeat: 
}