<div class="container">
  <div class="footer">

    <div class="row">

      <div class = "col-md-3 footer-padder">
        <div class="footerh3">FIND US</div class ="footerh3">
         <div class="gmaps">
          <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3a3922x9T1CZwTmREE6Nc51k2lGZGtrE&sensor=false"></script>
          <script ptype="text/javascript" src="http://www.map-generator.org/map/iframejs/422ec153-b462-4aea-93dd-05cf1ab57b88?key=AIzaSyA3a3922x9T1CZwTmREE6Nc51k2lGZGtrE&width=225px&height=107px"></script>
          <div id ="mapid-422ec153-b462-4aea-93dd-05cf1ab57b88"></div>
        </div>
      </div>


      <div class="col-md-3 footer-padder">
       <div class="footerh3">COMPANY</div class ="footerh3">
         <div class="footer-text">
          <p>YoYo Burger <br>
            Bristol, 6 Byron Pl <br>
            BS8 1JT <br>
            t : 0117 930 4353 <br>
            e : me@yoyoburger.com
          </p>
        </div>
      </div>


      <div class="col-md-3 footer-padder">
        <div class="footerh3">SITE MAP</div class ="footerh3">
          <ul>
            <li class="footer-site-list">
              <a href = "/products">
                <span>our food</span>
              </a>
            </li>
            <li class="footer-site-list">
              <a href = "/about">
                <span>our story</span>
              </a>
            </li>
            <li class="footer-site-list">
              <a href = "/about">
                <span>our values</span>
              </a>
            </li>
            <li class="footer-site-list">
              <a href = "/contact">
                <span>get in touch</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 footer-padder">
          <div class="footerh3">CONNECT</div class ="footerh3">
            <div class="social-icons">
              <ul>
                <%= link_to image_tag("spree/yoyo/facebookIcon.png"), "http://www.facebook.com" %>
                <%= link_to image_tag("spree/yoyo/twitterIcon.png"), "http://www.twitter.com" %>
                <%= link_to image_tag("spree/yoyo/mailIcon.png"), "https://www.google.com" %>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="bottomFooter">
        <p>Copyright © Built by Team Nocturnal. All rights reserved.</p>
        <p><a href=""> Read the boring legal stuff </a></p>
      </div>
    </div>