<header data-hook>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a href="#" class="brand">
              <small>
                <i class="icon-leaf"></i>YoYo Admin
              </small>
            </a><!--/.brand-->
            <ul class="nav ace-nav pull-right">
            	<nav data-hook="admin_login_navigation_bar" class="columns eleven"></nav>
              </ul><!--/.ace-nav-->
          </div><!--/.container-fluid-->
        </div><!--/.navbar-inner-->
      </div>
    </header>


