
.order-align {

	font-size: 15px;
	text-align: center !important;

}

#order_summary legend{
	color:black !important;
}


span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total {
	color: black !important;
}



#order {
	font-size: 12px !important;
}

.total{
	font-size:13px!important;
}

